<div class="row">
<!-- select -->
  <div class="offset-2 col-8">
    <h1 class="text-center text-primary my-5">NBA Score tracking App </h1>
    <div [formGroup]="teamForm">
      <select id="teamInput" class="form-select" formControlName="teamId">
        <option value="">Open this select menu</option>
        <option *ngFor="let team of teams" [value]="team?.id">
          {{team?.full_name}}
        </option>
      </select>
      <div *ngIf="submitted && teamForm.get('teamId')?.invalid" class="invalid-feedback d-block">
        Please select a team.
      </div>
    </div>
<!-- track team button-->
    <button (click)="getGames()" class="btn btn-success my-2" id="trackBtn"> Track Team</button>
  </div>

  <div class="offset-1 col-10">
    <div *ngFor="let teamAndGame of teamAndGames ;let i=index" class="col-4">
      <app-team-card [teamAndGame]="teamAndGame"></app-team-card>
    </div>
  </div>
</div>
